// $clr-dark-blue: #1f2933;
$clr-dark-blue: #1f2731;
$clr-light-blue: #a1bac6;
$clr-grey-blue: #5b6570;
$clr-dark-blue-shade: #2e3645;
$clr-white: #f9f9f9;

$transition: 0.3s ease-in-out;
$transition-proj: all 0.25s ease-in-out;
$transition-proj-link: all 0.25s ease-out;

$border-radius: 0;
$animation-time: 1s;
