// $clr-dark-grey: #22262a;
$clr-light-blue: #94a4b4;

// $clr-dark-grey: #1e252c;

// $clr-dark-grey: #1f2933;

// $clr-dark-grey: #25303b;

// $clr-dark-grey: #1f2731;

$clr-light-blue: #a1bac6;
$clr-something: #5b6570;

$transition: 0.3s ease-in-out;
$transition-proj: all 0.22s ease-in-out;
$transition-proj-link: all 0.25s ease-out;

$animation-time: 1s;
$border-radius: 0;

:root {
  --clr-dark-grey: #1f2731;
}
