$clr-body: #eee;
$clr-light-grey: #e6e6e6;
$clr-dark-grey: #22262a;
$clr-light-blue: #94a4b4;
$clr-something: #5b6570;

$max-width: 1440px;
$transition: 0.3s ease-in-out;
$transition-proj: all 0.25s ease-in-out;
$transition-proj-link: all 0.25s ease-out;

$border-radius: 0px;
