html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  // scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: auto;
  // scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-something;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #546e8a;
}
