:root {
  scrollbar-color: $clr-something $clr-dark-grey-shade;
}

html {
  font-size: 62.5%;
  height: 100%;
  // overflow: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  // overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $clr-dark-grey-shade;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-something;
  border: 3px solid $clr-dark-grey-shade;
  background-clip: padding-box;
  border-radius: 8px;

  &:hover {
    background: #546e8a;
    border-radius: 8px;
    background-clip: padding-box;
  }
}
